<h1>Welcome#index</h1>
<p>
This is willdye's first attempt at making a Ruby on Rails project.
Hello, Ruby world.
I should probably say something like Konnichiwa world.
This file is in app/views/welcome/index.html.erb.
OK, that's good enough for the first attempt.
</p>
